In [13]:
import pandas as pd
import glob

df1 = pd.read_csv('comment.csv')
df2 = pd.read_csv('scraped_imdb.csv')
df3 = pd.read_csv('scraped_pdb.csv')

In [25]:
# Get a list of all CSV files in a directory
path = "D:\JOBS\_PortfolioProjects\studying\Python\Data Processing\Crawl data\*"
csv_files = glob.glob(path + '.csv')

# Create an empty dataframe to store the combined data
combined_df = pd.DataFrame()

# Loop through each CSV file and append its contents to the combined dataframe
for csv_file in csv_files:
    df = pd.read_csv(csv_file) # not use header and index => set (index_col=None, header=0)
    combined_df = pd.concat([combined_df, df])

# Print the combined dataframe
print(combined_df)

    Unnamed: 0              Poster                              Comment  \
0            0         Edyy Kazuma      Error every enemy combine equip
1            1  Muffida Indrayanti                       Error equip...
2            2            عماد حسن           Youth what is the solution
3            3         Edyy Kazuma   why error when a card is equiping?
4            4      Yusuf Andready  List fusion attack 3000-4000 please
..         ...                 ...                                  ...
95          95                 NaN                                  NaN
96          96                 NaN                                  NaN
97          97                 NaN                                  NaN
98          98                 NaN                                  NaN
99          99                 NaN                                  NaN

                         Title     Release Certificate  Runtime  IMDB Rating  \
0                          NaN         NaN         NaN      NaN          NaN
1                          NaN         NaN         NaN      NaN          NaN
2                          NaN         NaN         NaN      NaN          NaN
3                          NaN         NaN         NaN      NaN          NaN
4                          NaN         NaN         NaN      NaN          NaN
..                         ...         ...         ...      ...          ...
95                       Moana  (I) (2016)          PG  107 min          7.6
96              Shutter Island      (2010)           R  138 min          8.2
97  Terminator 2: Judgment Day      (1991)           R  137 min          8.5
98                    Predator      (1987)           R  107 min          7.8
99                 Taxi Driver      (1976)           R  114 min          8.3

        Votes Box Office Earnings         Director  \
0         NaN                 NaN              NaN
1         NaN                 NaN              NaN
2         NaN                 NaN              NaN
3         NaN                 NaN              NaN
4         NaN                 NaN              NaN
..        ...                 ...              ...
95   272389.0         248,757,044     Ron Clements
96  1128505.0         128,012,934  Martin Scorsese
97   994787.0         204,843,350    James Cameron
98   371114.0          59,735,548   John McTiernan
99   723827.0          28,262,574  Martin Scorsese

                                               Actors
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
..                                                ...
95  ['John Musker', 'Don Hall', 'Chris Williams', ...
96  ['Leonardo DiCaprio', 'Emily Mortimer', 'Mark ...
97  ['Arnold Schwarzenegger', 'Linda Hamilton', 'E...
98  ['Arnold Schwarzenegger', 'Carl Weathers', 'Ke...
99  ['Robert De Niro', 'Jodie Foster', 'Cybill She...

[207 rows x 12 columns]

In [26]:
df1

   Unnamed: 0              Poster                              Comment
0           0         Edyy Kazuma      Error every enemy combine equip
1           1  Muffida Indrayanti                       Error equip...
2           2            عماد حسن           Youth what is the solution
3           3         Edyy Kazuma   why error when a card is equiping?
4           4      Yusuf Andready  List fusion attack 3000-4000 please
5           5         Noldi Vaver                  Password starchip ?
6           6  Leonardo Brilhante               Traz o Pokémon drop 15

In [15]:
df2

,Unnamed: 0,Title,Release,Certificate,Runtime,IMDB Rating,Votes,Box Office Earnings,Director,Actors
0,0,Kantara,(2022),R,148 min,9.2,57360,57360,Rishab Shetty,"['Rishab Shetty', 'Sapthami Gowda', 'Kishore K..."
1,1,Halloween,(1978),PG-13,91 min,7.7,278716,"47,000,000",John Carpenter,"['Donald Pleasence', 'Jamie Lee Curtis', 'Tony..."
2,2,Top Gun: Maverick,(2022),R,130 min,8.4,413503,80,Joseph Kosinski,"['Tom Cruise', 'Jennifer Connelly', 'Miles Tel..."
3,3,Everything Everywhere All at Once,(2022),PG,139 min,8.1,228796,222,Dan Kwan,"['Daniel Scheinert', 'Michelle Yeoh', 'Stephan..."
4,4,Harry Potter and the Sorcerer's Stone,(2001),PG-13,152 min,7.6,773220,"317,575,550",Chris Columbus,"['Daniel Radcliffe', 'Rupert Grint', 'Richard ..."
...,...,...,...,...,...,...,...,...,...,...
95,95,The Princess Bride,(1987),R,98 min,8.0,426854,"30,857,814",Rob Reiner,"['Cary Elwes', 'Mandy Patinkin', 'Robin Wright..."
96,96,Clerks,(1994),R,92 min,7.7,223410,"3,151,130",Kevin Smith,"[""Brian O'Halloran"", 'Jeff Anderson', 'Marilyn..."
97,97,The Godfather Part II,(1974),R,202 min,9.0,1261237,4,Francis Ford Coppola,"['Al Pacino', 'Robert De Niro', 'Robert Duvall..."
98,98,Oldboy,(2003),NaN,120 min,8.4,575989,70,Park Chan-wook,"['Choi Min-sik', 'Yoo Ji-tae', 'Kang Hye-jeong..."
99,99,One Flew Over the Cuckoo's Nest,(1975),NaN,133 min,8.7,1002302,18,Milos Forman,"['Jack Nicholson', 'Louise Fletcher', 'Michael..."

In [16]:
df3

,Unnamed: 0,Title,Release,Certificate,Runtime,IMDB Rating,Votes,Box Office Earnings,Director,Actors
0,0,Soul,(2020),PG,100 min,8.1,152080,152080,Pete Docter,"['Kemp Powers', 'Jamie Foxx', 'Tina Fey', 'Gra..."
1,1,Avengers: Endgame,(2019),PG-13,181 min,8.4,807529,"858,373,000",Anthony Russo,"['Joe Russo', 'Robert Downey Jr.', 'Chris Evan..."
2,2,Another Round,(2020),Not Rated,117 min,7.8,32093,32093,Thomas Vinterberg,"['Mads Mikkelsen', 'Thomas Bo Larsen', 'Magnus..."
3,3,Sound of Metal,(2019),R,120 min,7.8,25438,25438,Darius Marder,"['Riz Ahmed', 'Olivia Cooke', 'Paul Raci', 'La..."
4,4,The Gentlemen,(2019),R,113 min,7.8,235574,235574,Guy Ritchie,"['Matthew McConaughey', 'Charlie Hunnam', 'Mic..."
...,...,...,...,...,...,...,...,...,...,...
95,95,Moana,(I) (2016),PG,107 min,7.6,272389,"248,757,044",Ron Clements,"['John Musker', 'Don Hall', 'Chris Williams', ..."
96,96,Shutter Island,(2010),R,138 min,8.2,1128505,"128,012,934",Martin Scorsese,"['Leonardo DiCaprio', 'Emily Mortimer', 'Mark ..."
97,97,Terminator 2: Judgment Day,(1991),R,137 min,8.5,994787,"204,843,350",James Cameron,"['Arnold Schwarzenegger', 'Linda Hamilton', 'E..."
98,98,Predator,(1987),R,107 min,7.8,371114,"59,735,548",John McTiernan,"['Arnold Schwarzenegger', 'Carl Weathers', 'Ke..."
99,99,Taxi Driver,(1976),R,114 min,8.3,723827,"28,262,574",Martin Scorsese,"['Robert De Niro', 'Jodie Foster', 'Cybill She..."

In [22]:
combined_df.shape

(207, 12)

In [27]:
combined_df.head(10)

,Unnamed: 0,Poster,Comment,Title,Release,Certificate,Runtime,IMDB Rating,Votes,Box Office Earnings,Director,Actors
0,0,Edyy Kazuma,Error every enemy combine equip,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Muffida Indrayanti,Error equip...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,عماد حسن,Youth what is the solution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Edyy Kazuma,why error when a card is equiping?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Yusuf Andready,List fusion attack 3000-4000 please,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Noldi Vaver,Password starchip ?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Leonardo Brilhante,Traz o Pokémon drop 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,NaN,NaN,Kantara,(2022),R,148 min,9.2,57360.0,57360,Rishab Shetty,"['Rishab Shetty', 'Sapthami Gowda', 'Kishore K..."
1,1,NaN,NaN,Halloween,(1978),PG-13,91 min,7.7,278716.0,"47,000,000",John Carpenter,"['Donald Pleasence', 'Jamie Lee Curtis', 'Tony..."
2,2,NaN,NaN,Top Gun: Maverick,(2022),R,130 min,8.4,413503.0,80,Joseph Kosinski,"['Tom Cruise', 'Jennifer Connelly', 'Miles Tel..."

### For a few files

In [28]:
df = pd.concat(map(pd.read_csv, ['comment.csv', 'scraped_imdb.csv','scraped_pdb.csv']))
df

,Unnamed: 0,Poster,Comment,Title,Release,Certificate,Runtime,IMDB Rating,Votes,Box Office Earnings,Director,Actors
0,0,Edyy Kazuma,Error every enemy combine equip,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Muffida Indrayanti,Error equip...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,عماد حسن,Youth what is the solution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Edyy Kazuma,why error when a card is equiping?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Yusuf Andready,List fusion attack 3000-4000 please,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,NaN,NaN,Moana,(I) (2016),PG,107 min,7.6,272389.0,"248,757,044",Ron Clements,"['John Musker', 'Don Hall', 'Chris Williams', ..."
96,96,NaN,NaN,Shutter Island,(2010),R,138 min,8.2,1128505.0,"128,012,934",Martin Scorsese,"['Leonardo DiCaprio', 'Emily Mortimer', 'Mark ..."
97,97,NaN,NaN,Terminator 2: Judgment Day,(1991),R,137 min,8.5,994787.0,"204,843,350",James Cameron,"['Arnold Schwarzenegger', 'Linda Hamilton', 'E..."
98,98,NaN,NaN,Predator,(1987),R,107 min,7.8,371114.0,"59,735,548",John McTiernan,"['Arnold Schwarzenegger', 'Carl Weathers', 'Ke..."
99,99,NaN,NaN,Taxi Driver,(1976),R,114 min,8.3,723827.0,"28,262,574",Martin Scorsese,"['Robert De Niro', 'Jodie Foster', 'Cybill She..."

### For many files

In [ ]:
import os

filepaths = [f for f in os.listdir(".") if f.endswith('.csv')]
df = pd.concat(map(pd.read_csv, filepaths))

### For no headers

In [ ]:
def f(i):
    return pd.read_csv(i, header=None)

df = pd.concat(map(f, filepaths))